<?xml version='1.0' encoding='UTF-8'?>
<!--
# Copyright 2015 47Lining LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
-->
<project>
  <actions/>
  <description>Collect information sufficient to create a redshift stackset.  When a cluster is created, check the console output for the jdbc connection URL -- it will appear in &quot;stack_outputs&quot;.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.2.2">
          <name>CustomerCage</name>
          <description>The customer and cage where this will be provisioned.</description>
          <editable>false</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.SystemGroovyChoiceListProvider">
            <scriptText>import groovy.io.FileType
def parent_path = &quot;/var/lib/jenkins/nucleator/siteconfig/ansible/roles/siteconfig&quot;
def list = []
def pattern = ~/([a-zA-Z0-9]+)-([a-zA-Z0-9]+).yml/

def dir = new File(parent_path+&quot;/vars&quot;)
dir.eachFileRecurse (FileType.FILES) { file -&gt;
  def mat = pattern.matcher(file.name)
  if(mat.matches() &amp;&amp; !file.name.startsWith(&quot;{&quot;)) {
      println &quot;CustomerCage: &quot;+mat[0][1]+&quot;:&quot;+mat[0][2]
    list &lt;&lt; mat[0][1]+&quot;:&quot;+mat[0][2]
  }
}
return list
</scriptText>
            <usePredefinedVariables>false</usePredefinedVariables>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ApplicationName</name>
          <description>The name of the application, only lowercase alphanumeric characters are allowed.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DatabaseName</name>
          <description>The name of the database - only lowercase alphanumeric characters are allowed</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UserName</name>
          <description>The name of the admin user</description>
          <defaultValue>admin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>UserPassword</name>
          <description>The password for the admin user.  Must contain only alphanumeric characters with one uppercase letter and one digit.</description>
          <defaultValue>XvuH+l0pz7hcSo7QQNTPgQ==</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Public</name>
          <description>Is the database public?</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo $ApplicationName $DatabaseName
CUST=&quot;$(echo &quot;$CustomerCage&quot; | cut -d &apos;:&apos; -f 1)&quot;
CAGE=&quot;$(echo &quot;$CustomerCage&quot; | cut -d &apos;:&apos; -f 2)&quot;
ssh -F ~/.ssh/config ec2-user@nucleator &lt;&lt; ENDSSH
#nucleator redshift provision --customer lvsands --cage build
#  --cluster_name $ApplicationName
#  --database_name $DatabaseName
#  --username $UserName
#  --password $UserPassword
#  --public $Public
PYTHONUNBUFFERED=1 nucleator redshift provision --customer &quot;$CUST&quot; --cage &quot;$CAGE&quot; --cluster_name $ApplicationName --database_name $DatabaseName --username $UserName --password $UserPassword --public $Public
ENDSSH</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>