<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <displayName>Retrieve remote ssh config file</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.2.2">
          <name>CustomerCage</name>
          <description>The customer and cage of the ssh-config to retrieve</description>
          <editable>false</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.SystemGroovyChoiceListProvider">
            <scriptText>import groovy.io.FileType
def parent_path = &quot;/var/lib/jenkins/nucleator/siteconfig/ansible/roles/siteconfig&quot;
def list = []
def pattern = ~/([a-zA-Z0-9]+)-([a-zA-Z0-9]+).yml/

def dir = new File(parent_path+&quot;/vars&quot;)
dir.eachFileRecurse (FileType.FILES) { file -&gt;
  def mat = pattern.matcher(file.name)
  if(mat.matches() &amp;&amp; !file.name.startsWith(&quot;{&quot;)) {
      println &quot;CustomerCage: &quot;+mat[0][1]+&quot;:&quot;+mat[0][2]
    list &lt;&lt; mat[0][1]+&quot;:&quot;+mat[0][2]
  }
}
return list</scriptText>
            <usePredefinedVariables>false</usePredefinedVariables>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>CUST=&quot;$(echo &quot;$CustomerCage&quot; | cut -d &apos;:&apos; -f 1)&quot;
CAGE=&quot;$(echo &quot;$CustomerCage&quot; | cut -d &apos;:&apos; -f 2)&quot;
mkdir -p &quot;$WORKSPACE&quot;/$CUST
scp -F ~/.ssh/config nucleator:.nucleator/ssh-config/$CUST/$CAGE &quot;$WORKSPACE&quot;/$CUST/$CAGE</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>