<?xml version='1.0' encoding='UTF-8'?>
<!--
# Copyright 2015 47Lining LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
-->
<project>
  <actions/>
  <description>CAGE DELETE CANNOT BE UNDONE - YOU WILL LOSE THE DATA ON YOUR MACHINES</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.2.2">
          <name>CustomerCage</name>
          <description></description>
          <editable>false</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.SystemGroovyChoiceListProvider">
            <scriptText>import groovy.io.FileType
def parent_path = &quot;/var/lib/jenkins/nucleator/siteconfig/ansible/roles/siteconfig&quot;
def list = []
def pattern = ~/([a-zA-Z0-9]+)-([a-zA-Z0-9]+).yml/

def dir = new File(parent_path+&quot;/vars&quot;)
dir.eachFileRecurse (FileType.FILES) { file -&gt;
  def mat = pattern.matcher(file.name)
  if(mat.matches() &amp;&amp; !file.name.startsWith(&quot;{&quot;)) {
      println &quot;CustomerCage: &quot;+mat[0][1]+&quot;:&quot;+mat[0][2]
    list &lt;&lt; mat[0][1]+&quot;:&quot;+mat[0][2]
  }
}
return list</scriptText>
            <usePredefinedVariables>false</usePredefinedVariables>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo Deleting customer cage $CustomerCage
CUST=&quot;$(echo &quot;$CustomerCage&quot; | cut -d &apos;:&apos; -f 1)&quot;
CAGE=&quot;$(echo &quot;$CustomerCage&quot; | cut -d &apos;:&apos; -f 2)&quot;
ssh -F ~/.ssh/config ec2-user@nucleator &lt;&lt; ENDSSH
PYTHONUNBUFFERED=1 nucleator cage delete --customer &quot;$CUST&quot; --cage &quot;$CAGE&quot;
ENDSSH</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>